.game-intro {
height : 100%;
background: url('/images/background.png');
background-size: 100%;
}

#start-button {
  color:greenyellow;
  font-family: 'Uncial Antiqua', cursive;
  background-color: purple;
  font-size:2.5em;
  border: 3px solid yellow;
  border-radius: 30px;
  width:62%;
  margin-left: 19%;
  margin-bottom:20px;
  padding: 0;
  animation-name:start-button;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
}

@keyframes start-button {
  0%,100% {backgroun-color:purple;
  color:greenyellow;}
  50% {font-weight:700;
  border-width: 8px}
}

#game-area {
  background: darkgreen;
}
#deck-counter{
  font-size: 3em;
  color: black;
}

.logo-img {
  width:62%;
  
  margin: 0 19%;
}
.card {
  border: 3px solid red;
}

#deck-image img {
  border: 10px solid black;
}

.machinePickedCard{
  width: 100px;
  height: 100px;
  background: yellow;
}