.game-intro {
height : 100%;
background: url('images/background.png');
background-size: 100%;
}

#start-button {
  color:greenyellow;
  font-family: 'Uncial Antiqua', cursive;
  background-color: purple;
  font-size:2.5em;
  border: 3px solid yellow;
  border-radius: 30px;
  width:62%;
  margin-left: 19%;
  margin-bottom:20px;
  padding: 0;
  animation-name:start-button;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
}

@keyframes start-button {
  0%,100% {backgroun-color:purple;
  color:greenyellow;}
  50% {font-weight:700;
  border-width: 8px}
}

#machine-hand {
  display: flex;
  justify-content: flex-end;
}

.populations {
  display: flex;
}
  
population {
  justify-content: center;
  color:black;
  font-size:2em;
}

#deck-div {
  display: flex;
  justify-content: flex-end;
}

#game-area {
  padding: 20px 80px;
  background: darkgreen;
}
.counter{
  font-size: 3em;
  color: black;
}
.machine-card{
  height:100px
}

.logo-img {
  width:62%;
  
  margin: 0 19%;
}
.card {
  border: 3px solid red;
}

#deck-image {
  border: 10px solid black;
  border-radius:3px;
  height:150px;
  width:100px;
}

.machinePickedCard{
  height: 100px;
  background: yellow;
}