.game-intro {
height : 100%;
background: url('images/background.png');
background-size: 100%;
}

#start-button {
  color:greenyellow;
  font-family: 'Uncial Antiqua', cursive;
  background-color: purple;
  font-size:2.5em;
  border: 3px solid yellow;
  border-radius: 30px;
  width:62%;
  margin-left: 19%;
  margin-bottom:20px;
  padding: 0;
  animation-name:start-button;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
}

@keyframes start-button {
  0%,100% {backgroun-color:purple;
  color:greenyellow;}
  50% {font-weight:700;
  border-width: 8px}
}

#machine-hand {
  display: flex;
  justify-content: flex-end;
}

.populations {
  display: flex;
  margin:20px;
}
  
population {
  justify-content: center;
  color:black;
  font-size:2em;
}

#deck-div {
  display: inline-flex;
  justify-content: flex-end;
  width:50%;
  margin-top:20px;
  flex-wrap: wrap;
}
#game-log{
  display:inline-flex;
  justify-content: flexend;
  width: 50%;
  padding:20px;
  color:black;
  font-weight: 500;
}

#game-area {
  padding: 5% 10%;
  background-image: url("../images/mat.jpg");
}

#player-hand {
  display:flex;
  width:50%;
}

.counter{
  display:inline;
  font-size: 3em;
  color: black;
  height:40px;
}
.machine-card{
  height:98px
}

.logo-img {
  width:62%;
  
  margin: 0 19%;
}
.card {
  border: 3px solid red;
}

#deck-image {
  border: 10px solid black;
  border-radius:3px;
  height:150px;
  width:100px;
}

.machinePickedCard{
  height: 100px;  
  color:black;
  background: darkolivegreen;
  border: 2px solid black;
}